/* Layout */

#content {
    width: 95%;
    margin: 0 auto;
}

#navigation {
    border-bottom: 1px solid #777;
}

/* Media queries */

@media screen and (min-width: 640px) {
    #content {
        width: 50%;
    }
}

/* Status moduls */

.hidden {
    display: none;
}

/* Pure Configuration */
 .button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.preset_button {
    margin-right: 0.5em;
}